h2 {
    float: left;
}

#firstpic {
    width: 100%;
}
#picnopad {
    padding: 0;
    border-radius: 6;
}

.card {
    display: block;
    margin-bottom: 25px;
    align-items: center;
    border-radius: 5px;
    background-color:   rgba(105, 124, 160, 0.9);
}

.card-title {
    color: rgb(214, 214, 214); 
}
.card-text {
    color: rgb(214, 214, 214); 
}

.img-thumbnail {
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(105, 124, 160, 0.9);
    padding: 0;
}

.btn {
    color:  rgba(105, 124, 160);
    background-color: rgb(214, 214, 214);
    border-style: none;
}

.btn:hover {
background-color: rgb(43, 43, 43);
color: rgb(214, 214, 214);
}