h2 {
    float: left;
}
#contact {
    margin-bottom: 0;
}
#firstpic {
    width: 100%;
}
#picnopad {
    padding-left: 0;
}
.card {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}