h2 {
    float: left;
}

#firstpic {
    width: 100%;
}
#picnopad {
    padding: 0;
    border-radius: 6;
}
.card {
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}